name: "Test"
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-12]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v24
      with:
        nix_path: 'nixpkgs=./nix'
    - name: "Install Cachix"
      uses: cachix/cachix-action@v12
      with:
        name: niv
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - name: "Run tests"
      run: ./script/test
